[Unit]
Description = pulsar

[Service]
Type = forking
PIDFile = {{ venv_path }}/paster.pid
WorkingDirectory = {{ venv_path }}
ExecStart = {{ venv_path }}/exec.sh pulsar -m uwsgi --daemonize /data/pulsar/pulsar-env/uwsgi.log
ExecStop = {{ venv_path }}/exec.sh pulsar --stop-daemon
User = pulsar
Group = pulsar
Restart = on-failure
RestartSec = 4
TimeoutStartSec = 4
TimeoutStopSec = 8

[Install]
WantedBy = multi-user.target
