[Unit]
Description = pulsar

[Service]
Type = forking
WorkingDirectory = {{ venv_path }}
ExecStart = {{ venv_path }}/exec.sh pulsar --mode uwsgi --daemonize {{ venv_path }}/uwsgi.log
User = pulsar
Group = pulsar
Restart = on-failure
RestartSec = 10
TimeoutStartSec = 10
TimeoutStopSec = 12

[Install]
WantedBy = multi-user.target
